---
export const prerender = false;

import { DownloadsTabs } from "@/components/downloads-tabs";
import MainLayout from "@/layouts/main-layout.astro";
import PageHeader from "@/components/page-header.astro";
import type { DataFile, CellLineInfo } from "@/types";

const cellLines: CellLineInfo[] = [
  // {
  //   name: "H522_fresh",
  //   fileSizeR1: "11 GB",
  //   fileSizeR2: "11 GB",
  // },
  // {
  //   name: "HCC2998_fresh",
  //   fileSizeR1: "20 GB",
  //   fileSizeR2: "20 GB",
  // },
  // {
  //   name: "HCT116_fresh",
  //   fileSizeR1: "19 GB",
  //   fileSizeR2: "20 GB",
  // },
  // {
  //   name: "HCT-15_fresh",
  //   fileSizeR1: "18 GB",
  //   fileSizeR2: "17 GB",
  // },
  // {
  //   name: "K562_fresh",
  //   fileSizeR1: "27 GB",
  //   fileSizeR2: "27 GB",
  // },
  // {
  //   name: "M14_fresh",
  //   fileSizeR1: "21 GB",
  //   fileSizeR2: "21 GB",
  // },
  // {
  //   name: "MCF10A_fresh",
  //   fileSizeR1: "18 GB",
  //   fileSizeR2: "19 GB",
  // },
  // {
  //   name: "OE19_fresh",
  //   fileSizeR1: "31 GB",
  //   fileSizeR2: "31 GB",
  // },
  // {
  //   name: "PANC1_fresh",
  //   fileSizeR1: "17 GB",
  //   fileSizeR2: "17 GB",
  // },
  {
    name: "GM12878_coop_PE250",
    fileSizeR1: "22 GB",
    fileSizeR2: "22 GB",
  },
  {
    name: "GM12878_coop_PE150",
    fileSizeR1: "24 GB",
    fileSizeR2: "25 GB",
  },
];

const cellLineFiles: DataFile[] = cellLines.flatMap((cellLine) => [
  {
    fileName: `${cellLine.name}_R1.fastq.gz`,
    fileSize: cellLine.fileSizeR1,
    sample: cellLine.name,
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: `/data/human/raw/cell_line/${cellLine.name}_R1.fastq.gz`,
    organism: "human",
  },
  {
    fileName: `${cellLine.name}_R2.fastq.gz`,
    fileSize: cellLine.fileSizeR2,
    sample: cellLine.name,
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: `/data/human/raw/cell_line/${cellLine.name}_R2.fastq.gz`,
    organism: "human",
  },
]);

const rawDataFiles: DataFile[] = [
  {
    fileName: "GM12878_fresh.R1.fastq.gz",
    fileSize: "34 GB",
    sample: "GM12878_fresh",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/GM12878_fresh.R1.fastq.gz",
    organism: "human",
  },
  {
    fileName: "GM12878_fresh.R2.fastq.gz",
    fileSize: "36 GB",
    sample: "GM12878_fresh",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/GM12878_fresh.R2.fastq.gz",
    organism: "human",
  },
  {
    fileName: "GM12878_fixed.R1.fastq.gz",
    fileSize: "15 GB",
    sample: "GM12878_fixed",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/GM12878_fixed.R1.fastq.gz",
    organism: "human",
  },
  {
    fileName: "GM12878_fixed.R2.fastq.gz",
    fileSize: "16 GB",
    sample: "GM12878_fixed",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/GM12878_fixed.R2.fastq.gz",
    organism: "human",
  },
  {
    fileName: "K562_heatshock.R1.fastq.gz",
    fileSize: "5 GB",
    sample: "K562_heatshock",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/K562_heatshock.R1.fastq.gz",
    organism: "human",
  },
  {
    fileName: "K562_heatshock.R2.fastq.gz",
    fileSize: "4.9 GB",
    sample: "K562_heatshock",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/K562_heatshock.R2.fastq.gz",
    organism: "human",
  },
  {
    fileName: "K562_heatshock_control.R1.fastq.gz",
    fileSize: "5.2 GB",
    sample: "K562_heatshock_control",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/K562_heatshock_control.R1.fastq.gz",
    organism: "human",
  },
  {
    fileName: "K562_heatshock_control.R2.fastq.gz",
    fileSize: "5.2 GB",
    sample: "K562_heatshock_control",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/K562_heatshock_control.R2.fastq.gz",
    organism: "human",
  },
  {
    fileName: "single-cell_human_Hela.tar.gz",
    fileSize: "47 GB",
    sample: "single-cell_human_Hela (bundled)",
    sampleClass: "cell line",
    assay: "single-cell FOODIE",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/single-cell_human_Hela.tar.gz",
    organism: "human",
  },
  {
    fileName: "single-cell_human_HEK293T.tar.gz",
    fileSize: "53 GB",
    sample: "single-cell_human_HEK293T (bundled)",
    sampleClass: "cell line",
    assay: "single-cell FOODIE",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/single-cell_human_HEK293T.tar.gz",
    organism: "human",
  },
  {
    fileName: "single-cell_human_GM.tar.gz",
    fileSize: "57 GB",
    sample: "single-cell_human_GM12878 (bundled)",
    sampleClass: "cell line",
    assay: "single-cell FOODIE",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/single-cell_human_GM.tar.gz",
    organism: "human",
  },
  {
    fileName: "single-cell_human_K562.tar.gz",
    fileSize: "39 GB",
    sample: "single-cell_human_K562 (bundled)",
    sampleClass: "cell line",
    assay: "single-cell FOODIE",
    dataType: "raw data",
    downloadUrl: "/data/human/raw/cell_line/single-cell_human_K562.tar.gz",
    organism: "human",
  },
  ...cellLineFiles,
];

const processedDataFiles: DataFile[] = [
  {
    fileName: "GM12878_fresh.sites.depth.bw",
    fileSize: "4.2 GB",
    sample: "GM12878_fresh",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fresh.sites.depth.bw",
    organism: "human",
  },
  {
    fileName: "GM12878_fresh.sites.ratio.bw",
    fileSize: "700 MB",
    sample: "GM12878_fresh",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fresh.sites.ratio.bw",
    organism: "human",
  },
  {
    fileName: "GM12878_fresh.bam",
    fileSize: "26 GB",
    sample: "GM12878_fresh",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fresh.bam",
    organism: "human",
  },
  {
    fileName: "GM12878_fresh.bam.bai",
    fileSize: "5.6 MB",
    sample: "GM12878_fresh",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fresh.bam.bai",
    organism: "human",
  },
  {
    fileName: "GM12878_fixed.sites.depth.bw",
    fileSize: "3.7 GB",
    sample: "GM12878_fixed",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fixed.sites.depth.bw",
    organism: "human",
  },
  {
    fileName: "GM12878_fixed.sites.ratio.bw",
    fileSize: "710 MB",
    sample: "GM12878_fixed",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fixed.sites.ratio.bw",
    organism: "human",
  },
  {
    fileName: "GM12878_fixed.bam",
    fileSize: "23 GB",
    sample: "GM12878_fixed",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fixed.bam",
    organism: "human",
  },
  {
    fileName: "GM12878_fixed.bam.bai",
    fileSize: "6.8 MB",
    sample: "GM12878_fixed",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/GM12878_fixed.bam.bai",
    organism: "human",
  },
  {
    fileName: "K562_heatshock.sites.depth.bw",
    fileSize: "625 MB",
    sample: "K562_heatshock",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/K562_heatshock.sites.depth.bw",
    organism: "human",
  },
  {
    fileName: "K562_heatshock.sites.ratio.bw",
    fileSize: "32 MB",
    sample: "K562_heatshock",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/K562_heatshock.sites.ratio.bw",
    organism: "human",
  },
  {
    fileName: "K562_heatshock.bam",
    fileSize: "4.4 GB",
    sample: "K562_heatshock",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/K562_heatshock.bam",
    organism: "human",
  },
  {
    fileName: "K562_heatshock.bam.bai",
    fileSize: "2.6 MB",
    sample: "K562_heatshock",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/K562_heatshock.bam.bai",
    organism: "human",
  },
  {
    fileName: "K562_heatshock_control.sites.depth.bw",
    fileSize: "1.5 GB",
    sample: "K562_heatshock_control",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/K562_heatshock_control.sites.depth.bw",
    organism: "human",
  },
  {
    fileName: "K562_heatshock_control.sites.ratio.bw",
    fileSize: "32 MB",
    sample: "K562_heatshock_control",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/K562_heatshock_control.sites.ratio.bw",
    organism: "human",
  },
  {
    fileName: "K562_heatshock_control.bam",
    fileSize: "1.6 GB",
    sample: "K562_heatshock_control",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl: "/data/human/processed/cell_line/K562_heatshock_control.bam",
    organism: "human",
  },
  {
    fileName: "K562_heatshock_control.bam.bai",
    fileSize: "3.3 MB",
    sample: "K562_heatshock_control",
    sampleClass: "cell line",
    assay: "bulk FOODIE-seq",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/K562_heatshock_control.bam.bai",
    organism: "human",
  },
  {
    fileName: "single-cell_human_Hela_bedfiles.tar.gz",
    fileSize: "2.5 GB",
    sample: "single-cell_human_Hela (bundled)",
    sampleClass: "cell line",
    assay: "single-cell FOODIE",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/single-cell_human_Hela_bedfiles.tar.gz",
    organism: "human",
  },
  {
    fileName: "single-cell_human_HEK293T_bedfiles.tar.gz",
    fileSize: "2.8 GB",
    sample: "single-cell_human_HEK293T (bundled)",
    sampleClass: "cell line",
    assay: "single-cell FOODIE",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/single-cell_human_HEK293T_bedfiles.tar.gz",
    organism: "human",
  },
  {
    fileName: "single-cell_human_GM_bedfiles.tar.gz",
    fileSize: "3.4 GB",
    sample: "single-cell_human_GM12878 (bundled)",
    sampleClass: "cell line",
    assay: "single-cell FOODIE",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/single-cell_human_GM_bedfiles.tar.gz",
    organism: "human",
  },
  {
    fileName: "single-cell_human_K562_bedfiles.tar.gz",
    fileSize: "951 MB",
    sample: "single-cell_human_K562 (bundled)",
    sampleClass: "cell line",
    assay: "single-cell FOODIE",
    dataType: "processed data",
    downloadUrl:
      "/data/human/processed/cell_line/single-cell_human_K562_bedfiles.tar.gz",
    organism: "human",
  },
];

const mouseHippoPartSizes: string[] = [
  "36 GB",
  "42 GB",
  "42 GB",
  "42 GB",
  "43 GB",
  "48 GB",
  "50 GB",
  "48 GB",
  "49 GB",
  "28 GB",
];

const mouseRawDataFiles: DataFile[] = [...mouseHippoPartSizes.entries()].map(
  ([index, fileSize]) => ({
    fileName: `single-cell_mouse_hippocampus_P${index + 2}.tar.gz`,
    fileSize,
    sample: `single-cell_mouse_hippocampus (part ${index + 2})`,
    sampleClass: "tissue",
    assay: "single-cell FOODIE",
    dataType: "raw data",
    downloadUrl: `/data/mouse/raw/tissue/single-cell_mouse_hippocampus_P${index + 2}.tar.gz`,
    organism: "mouse",
  }),
);

const data = {
  human: {
    rawData: rawDataFiles,
    processedData: processedDataFiles,
  },
  mouse: {
    rawData: mouseRawDataFiles,
    processedData: [],
  },
};
---

<MainLayout title="Downloads">
  <section class="container py-8">
    <PageHeader
      heading="Downloads"
      text="Raw data and processed data for download."
    />
    <DownloadsTabs downloads={data} client:load />
  </section>
</MainLayout>
